@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.card {
  @include box-shadow(0 0 0 0, 0 0 1em 0);
  border-radius: 1em;
  margin: 1em;
  width: 20em;
  &__image {
    border-radius: 1em;
    width: 20em;
  }
}